# Copy-paste between X and terminal. E.g. usage: `ls | ctrlc`.
alias ctrlc='xclip -selection c'
alias ctrlv='xclip -selection c -o'

# Compile LateX document with docker image - requires script from https://github.com/blang/latex-docker
alias latex-docker='latexdockercmd.sh latexmk -cd -f -interaction=batchmode -pdf "$@"'
alias latex-docker-clean='latexdockercmd.sh latexmk -C'

alias myip="ip -br -c a"
alias process="ps aux"
alias mem="free -h"
alias cpu="lscpu"
alias disk="df -h"

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
